* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 15px;
}

window#waybar {
    background: #0F0F17;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

#workspaces {
    background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

#workspaces button {
    background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.active {
    color: #A1BDCE;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: none;
    color: #72D792;
}

#window {
    color: #A1BDCE;
}

#mpris {
    color: white;
}

#network {
    color: #A1BDCE;
    font-weight: normal;
    font-size: 19px;
}

#cpu {
    font-weight: normal;
    font-size: 22px;
    color: #915CAF;
}

#memory {
    font-weight: normal;
    font-size: 22px;
    color: #E4C9AF;
}

#clock {
    font-weight: normal;
    color: #a6d189;
}

#tray {
    color: #E8EDF0;
}

#custom-notification {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 17px;
    color: #A1BDCE;
}

#custom-padd {
    color: transparent;
}
